.layout {
    display: flex;
    min-height: 100vh;
}

.main {
    flex: 1;
    margin-left: 0;
    padding-top: 60px;
    padding-left: 24px;
    padding-right: 24px;
    overflow-x: hidden;
}

@media (min-width: 769px) {
    .main {
        padding-top: 100px;
    }
}

@media (min-width: 1024px) {
    .main {
        margin-left: 300px;
        padding-top: 82px;
        padding-left: 170px;
        padding-right: 170px;
    }
}
